.forest {
    width: 100%;
    height: auto;
    margin-top: -100px;
}

@media only screen and (max-width: 767px) {
    .forest {
        margin-top: -50px;
    }
}

.heading {
    font-family: "MrsEavesAllPetiteCaps Regular";
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 28.8px;
    color: rgb(255, 255, 255);
    margin: 10px;
    margin-top: 0px;
}

.title_and {
    font-family: "Snell Roundhand";
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    text-transform: lowercase;
    letter-spacing: normal;
    font-size: 23.8px;
    color: rgb(255, 255, 255);
}