.dietary-preference {
    display: flex;
    justify-content: center;
  }
  
  .dietary-preference__option {
    padding: 8px 16px;
    border: 1px solid gray;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 1px;
    background-color: transparent;
    color: rgb(153, 150, 150);
    font-size: 16px;
    outline: none;
  }
  
  .dietary-preference__option.selected {
    background-color: rgb(37, 133, 58);
    border-color: gray;
    color: white
  }
  