/* Headings */
div.wedding h1 {
    font-family: "MrsEavesAllPetiteCaps Regular";
    font-weight: 300;
    font-style: normal;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    margin-top: 100px;
  }
  

div.wedding h3 {
    font-family: "MrsEavesAllPetiteCaps Regular";
    font-weight: 300;
    font-style: normal;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 23px;
    color: rgb(255, 255, 255);
    margin-top: 10px;
}
  

div.wedding p {
    font-family: "MrsEavesRoman Regular";
    font-size: 14px;
    line-height: 1.5;
    color: rgb(255, 255, 255);
    text-align: center;
}

div.wedding a {
    font-family: "MrsEavesRoman Regular";
    font-size: 14px;
    line-height: 1.5;
    color: rgb(255, 255, 255);
    text-align: center;
}

@media only screen and (max-width: 786px) {
    img.header {
        width: 40%;
        margin-top: 50px;
    }

    div.wedding h1 {
        width: 75%;
    }
}